
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

body{
    margin: 0%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(png.jpg);
    backface-visibility: visible;
    background-repeat:no-repeat;
    background-size:120% 120%;
    animation: png 40s linear infinite alternate;
    }
    @keyframes png{
        0%{
            background-position:20% 30%;

        }
        100%{
            background-position: 60% 60%;
        }

    }
.calculaterbody{
    background:rgba(228, 217, 218, 0.678);
    width: 300px;
    height:400px;
    border: 1px solid #831a1a71;
    padding: 20px;
    border-radius:20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
    animation:cal 4s ease-in-out infinite;
}
@keyframes cal{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(0);
  }
}


input{
    color: #f8f0f0;
    font-size: 30px;
    text-align:right;
    padding: 10px;
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    box-shadow:0px 3px 15px rgba(216, 203, 203, 0.6);
    margin-bottom: 20px;
}


input::placeholder{
    color: #f8f0f0;
}

button{
    padding: 10px;
    margin: 9px;;
    border-radius: 14px;
    border:none;
    backdrop-filter:blur(10px);
    background:rgba(122, 96, 96, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.548);
    color:white;
    width:40px;
    transition:transform 0.10s ease;

}
button:active{
    transform:scale(1.5);
    box-shadow:1px solid rgba(255, 255, 255, 0.548); ;
}


